[submodule "backend"]
	path = backend
	url = https://github.com/Deus-Ex-Umbra/WScrT-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/Deus-Ex-Umbra/WScrT-frontend
[submodule "scrappers"]
	path = scrappers
	url = https://github.com/Deus-Ex-Umbra/WScrT-Scrappers.git
